# Pandas Series
A Series is like a Table Column
It's a one-dimensional array holding any type of data

In [38]:
import pandas as pd
import numpy as np

In [39]:
my_series = [5, 9, 12, 27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [40]:
# Print specific value
my_var[1]

9

Labels using the Index argument

In [41]:
my_index = ["A", "B", "C", "D"]
my_var2 =pd.Series(my_series,my_index )
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [42]:
my_var2 =pd.Series(data=my_series,index=my_index )
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [43]:
my_index = ["A", "B", "C", "Z"]
my_var2 =pd.Series(my_series,my_index )
my_var2

A     5
B     9
C    12
Z    27
dtype: int64

Get a value

In [44]:
my_var2["B"], my_var2[1]

(9, 9)

Key-Value Dictionary

In [45]:
cars = {"Tesla": 12, "Zoe": 14, "Mercedes": 42, "BMW": 3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Zoe         14
Mercedes    42
BMW          3
dtype: int64

In [46]:
my_var3["Tesla"]

12