# Pull data from DataFrames

In [21]:
import pandas as pd
import numpy as np

In [22]:
# import csv file
df = pd.read_csv('data/dog_data.csv')
df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

Grab first five rows

In [23]:
# Grab first 5 rows
df.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

Grab a number of first rows

In [24]:
# Grab a number of first rows
df.head(9)

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238

Grab last 5 rows

In [25]:
# Grab last 5 rows
df.tail()

                  Breed              Color        DogName  OwnerZip
2665       GOLDENDOODLE              BROWN        WINSLOW     15044
2666  YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667            LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668       GOLDENDOODLE              WHITE       CLARENCE     15143
2669  SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

Grab a number of last rows

In [26]:
# Grab a certain number of last rows
df.tail(8)

                   Breed              Color        DogName  OwnerZip
2662          WEIMARANER               GREY          BELLA     15102
2663  LABRADOR RETRIEVER              BROWN           NINO     15102
2664  COCKER SPANIEL MIX        WHITE/BLACK           JACK     15102
2665        GOLDENDOODLE              BROWN        WINSLOW     15044
2666   YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667             LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668        GOLDENDOODLE              WHITE       CLARENCE     15143
2669   SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

Get information about the DataFrame

In [27]:
# Get info about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     2670 non-null   object
 1   Color     2665 non-null   object
 2   DogName   2669 non-null   object
 3   OwnerZip  2670 non-null   int64
dtypes: int64(1), object(3)
memory usage: 83.6+ KB

Get the shape of rows and columns

In [28]:
# Get the shape of rows and columns
df.shape

(2670, 4)

Get the number of dimensions
**ndim**: short for number of dimensions

In [29]:
# Get the number of dimensions
df.ndim

2

Column dataTypes

In [30]:
# Get the columns dataTypes
df.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

Statistics about the data

In [31]:
# Get some statistics about the data
df.describe()

           OwnerZip
count   2670.000000
mean   15268.109738
std     2747.560641
min    15003.000000
25%    15102.000000
50%    15136.000000
75%    15227.000000
max    97206.000000

Describe a specific column (Breed)

In [32]:
# Describe a specific column (Breed)
df["Breed"].describe()

count      2670
unique      185
top       MIXED
freq        235
Name: Breed, dtype: object

Describe a specific column (Color)

In [33]:
# Describe a specific column (Color)
df["Color"].describe()

count      2665
unique       72
top       BLACK
freq        371
Name: Color, dtype: object

Describe a specific column

In [34]:
# Describe a specific column
df["DogName"].describe()

count     2669
unique    1428
top       LUCY
freq        35
Name: DogName, dtype: object

Select specific column using Bracket notation
(returns a Pandas Series)

In [35]:
# Select specific column using Brackets
df["DogName"], df['DogName'], type(df["DogName"]),

(0             CHARLEY
 1              TACODA
 2                EICH
 3               ARROW
 4              OAKLEY
             ...
 2665          WINSLOW
 2666    ROCKY KALAKOS
 2667            ELLIE
 2668         CLARENCE
 2669          GRIFFIN
 Name: DogName, Length: 2670, dtype: object,
 0             CHARLEY
 1              TACODA
 2                EICH
 3               ARROW
 4              OAKLEY
             ...
 2665          WINSLOW
 2666    ROCKY KALAKOS
 2667            ELLIE
 2668         CLARENCE
 2669          GRIFFIN
 Name: DogName, Length: 2670, dtype: object,
 pandas.core.series.Series)

Select specific column using the Dot notation
(returns a Pandas Series)

In [36]:
# Select specific column using the Dot notation
df.DogName

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object

Select specific column using Location with **iloc** (slice of [rows, columns]
(returns a Pandas Series)

In [37]:
# Select specific column using Location (iloc) 
df.iloc[:, 0]

0                  COCKAPOO
1              GER SHEPHERD
2             BELG MALINOIS
3                     MIXED
4       AM PIT BULL TERRIER
               ...
2665           GOLDENDOODLE
2666      YORKSHIRE TERRIER
2667                LAB MIX
2668           GOLDENDOODLE
2669      SHETLAND SHEEPDOG
Name: Breed, Length: 2670, dtype: object