# Count data in a DataFrame

In [31]:
import pandas as pd
import numpy as np

In [32]:
# import csv file
df = pd.read_csv('data/dog_data.csv')
df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

Count Distinct Values - Descending Order

In [33]:
# Count Distinct Values - Descending Order
df['Color'].value_counts()

BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BLACK/ORANGE/BRINDLE      1
BROWN/ORANGE              1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: Color, Length: 72, dtype: int64

Count Distinct Values - Ascending Order (Color)

In [34]:
# Count Distinct Values - Ascending Order (Color)
df['Color'].value_counts(ascending=True)

BROWN/LIVER               1
BROWN/FAWN                1
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BLACK/BROWN/GREY          1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: Color, Length: 72, dtype: int64

Dog Names - without null values (NaN, na)

In [35]:
# Count Distinct Values - Ascending Order
df['DogName'].value_counts(ascending=True)

BABY GIRL     1
JASZMINE      1
HENRY         1
GOJIRA        1
STEVIE        1
             ..
DAISY        26
BUDDY        29
BAILEY       29
BELLA        30
LUCY         35
Name: DogName, Length: 1428, dtype: int64

Dog Names - with null values (NaN, na)

In [36]:
# Dog Names with NaN and na
df["DogName"].value_counts(ascending=True, dropna=False)

BABY GIRL         1
HENRY             1
GOJIRA            1
STEVIE            1
DONNA DI CODA     1
                 ..
DAISY            26
BAILEY           29
BUDDY            29
BELLA            30
LUCY             35
Name: DogName, Length: 1429, dtype: int64

Relative Frequency - Percentage

In [37]:
# Relative Frequency - Percentage
df["Color"].value_counts(normalize=True), \
df["Color"].value_counts(normalize=True) * 100, \
np.sum(df["Color"].value_counts(normalize=True) * 100)

(BLACK                   0.139212
 BROWN                   0.115947
 WHITE                   0.084803
 WHITE/BLACK             0.073546
 BLACK/BROWN             0.068668
                           ...
 BLACK/ORANGE/BRINDLE    0.000375
 BROWN/ORANGE            0.000375
 BROWN/FAWN              0.000375
 BLACK/BROWN/GREY        0.000375
 BROWN/LIVER             0.000375
 Name: Color, Length: 72, dtype: float64,
 BLACK                   13.921201
 BROWN                   11.594747
 WHITE                    8.480300
 WHITE/BLACK              7.354597
 BLACK/BROWN              6.866792
                           ...
 BLACK/ORANGE/BRINDLE     0.037523
 BROWN/ORANGE             0.037523
 BROWN/FAWN               0.037523
 BLACK/BROWN/GREY         0.037523
 BROWN/LIVER              0.037523
 Name: Color, Length: 72, dtype: float64,
 100.0)

Get specific Item Count

In [38]:
# Get specific Item Count
df["Color"].value_counts()["WHITE"]

226

Count unique values - Size

In [39]:
# Count unique values - Size
df.groupby('Color').size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

Count unique values - Count

In [40]:
# Count unique values - Count
df.groupby('Color').count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]

Count of all columns accross all columns

In [41]:
# Get count of all columns accross all columns
df.apply(pd.value_counts)

        Breed  Color  DogName  OwnerZip
15003     NaN    NaN      NaN       4.0
15005     NaN    NaN      NaN       5.0
15006     NaN    NaN      NaN       1.0
15007     NaN    NaN      NaN       2.0
15014     NaN    NaN      NaN       2.0
...       ...    ...      ...       ...
ZORRO     NaN    NaN      1.0       NaN
ZURI      NaN    NaN      1.0       NaN
ZUZU      NaN    NaN      2.0       NaN
stella    NaN    NaN      1.0       NaN
suzie     NaN    NaN      1.0       NaN

[1783 rows x 4 columns]