# Remove rows and columns from a DataFrame

In [67]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/dog_data_short.csv')
df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [68]:
# Add Column from a List
gender = ["Male", "Female","Male","Male", "Female"]
df["Gender"] = gender
df

                 Breed        Color  DogName  OwnerZip  Gender
0             COCKAPOO        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238  Female
2        BELG MALINOIS      BRINDLE     EICH     15238    Male
3                MIXED  BLACK/BROWN    ARROW     15104    Male
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  Female

Remove a column with **drop(column name, axis=*0 for row, 1 for column*, inplace=*delete from current DataFrame: True else False*)** ((do not modify current DataFrame with inplace=False (default))

In [69]:
# Remove column
df.drop("Gender", axis=1) # drop column and returns None (does not modify
df

                 Breed        Color  DogName  OwnerZip  Gender
0             COCKAPOO        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238  Female
2        BELG MALINOIS      BRINDLE     EICH     15238    Male
3                MIXED  BLACK/BROWN    ARROW     15104    Male
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  Female

Remove a column (modify current DataFrame with inplace=True)

In [70]:
# Remove column
df2 = df.copy()
df2.drop("Gender", axis=1, inplace=True) # drop column as returns None
df, df2

(                 Breed        Color  DogName  OwnerZip  Gender
 0             COCKAPOO        BROWN  CHARLEY     15236    Male
 1         GER SHEPHERD  BLACK/BROWN   TACODA     15238  Female
 2        BELG MALINOIS      BRINDLE     EICH     15238    Male
 3                MIXED  BLACK/BROWN    ARROW     15104    Male
 4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  Female,
                  Breed        Color  DogName  OwnerZip
 0             COCKAPOO        BROWN  CHARLEY     15236
 1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
 2        BELG MALINOIS      BRINDLE     EICH     15238
 3                MIXED  BLACK/BROWN    ARROW     15104
 4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139)

Remove a column (modify current DataFrame and returns a copy)

In [71]:
# Remove column
df = df.drop("Gender", axis=1) # drop column and return a copy of the changed DataFrame

Replace a Row (**drop(row number)**)
 no modification (returns a copy)

In [72]:
# Replace a row
# Replace third row (returns a copy)
df2 = df.drop(3, axis=0)
df2, df

(                 Breed        Color  DogName  OwnerZip
 0             COCKAPOO        BROWN  CHARLEY     15236
 1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
 2        BELG MALINOIS      BRINDLE     EICH     15238
 4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139,
                  Breed        Color  DogName  OwnerZip
 0             COCKAPOO        BROWN  CHARLEY     15236
 1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
 2        BELG MALINOIS      BRINDLE     EICH     15238
 3                MIXED  BLACK/BROWN    ARROW     15104
 4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139)

Replace a row (other notation)

In [73]:
# Replace a row
# Replace third row (returns a copy)
df2 = df.drop(index=3, axis=0)
df2, df

(                 Breed        Color  DogName  OwnerZip
 0             COCKAPOO        BROWN  CHARLEY     15236
 1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
 2        BELG MALINOIS      BRINDLE     EICH     15238
 4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139,
                  Breed        Color  DogName  OwnerZip
 0             COCKAPOO        BROWN  CHARLEY     15236
 1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
 2        BELG MALINOIS      BRINDLE     EICH     15238
 3                MIXED  BLACK/BROWN    ARROW     15104
 4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139)

Replace a Row (**drop(row number)**)
 modify current DataFrame and returns None

In [74]:
# Replace a row
# Replace third row (replace current DataFrame and returns None)
df2 = df.drop(3, axis=0, inplace=True)
df2, df

(None,
                  Breed        Color  DogName  OwnerZip
 0             COCKAPOO        BROWN  CHARLEY     15236
 1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
 2        BELG MALINOIS      BRINDLE     EICH     15238
 4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139)