# Grab Rows, Points, and Subsets From DataFrame

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/dog_data_short.csv')
df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

## Grab Row 
Method 1: ** Location**

In [6]:
# Grab Row Method 1 Location
df.loc[2]

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

## Grab Row 
Method 2: **Index Location**

In [7]:
# Grab Row Method 2 Method Location
df.iloc[3]

Breed             MIXED
Color       BLACK/BROWN
DogName           ARROW
OwnerZip          15104
Name: 3, dtype: object

## Specific Points (row and column)
**df.loc[row, col]**

In [8]:
# Specific Points (row and column)
# df.loc['Row', 'COLUMN']

df.loc[1, "DogName"] # first row, Dog Name column

'TACODA'

## Subsets
**df.loc[[row, row], [col, col]]**

In [10]:
df.loc[[1, 3], ["DogName", "Breed"]]

  DogName         Breed
1  TACODA  GER SHEPHERD
3   ARROW         MIXED